@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply py-2 px-4 text-white bg-sky-500 font-semibold rounded-lg shadow-md hover:text-sky-500 hover:bg-slate-200 hover:cursor-pointer border-l;
    }
    .btn-primary-inverse {
        @apply py-2 px-4 bg-orange-500 text-white font-semibold rounded-lg shadow-md hover:bg-orange-700 hover:text-white hover:cursor-pointer ;
    }
    .form-campo {
        @apply p-1  placeholder-slate-300 text-slate-600 relative bg-white rounded text-sm border-transparent border-r-[10px] shadow outline-none focus:outline-none focus:ring w-full
    }
    .form-label {
        @apply text-orange-500 font-bold  uppercase text-sm
    }
    .pill-1 {
        @apply rounded-lg px-1 bg-orange-500 text-white inline-block not-italic
    }
    .pill-2 {
        @apply font-normal rounded-lg px-1 bg-sky-500 text-white inline-block
    }
    .pill-3 {
        @apply font-normal rounded-lg px-1 bg-violet-500 text-white inline-block
    }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
